
*{
    margin: 0;
    padding: 0;
    
    body{
        // background-color: rgb(109, 89, 89);
        background-image:url(../imagenes/fondo2.1.jpg);
        
    }
}

// .conteiner {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: repeat(2, 1fr);
//     grid-column-gap: 20px;
//     grid-row-gap: 20px;
//     }
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    
}

.parrafo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 2rem 6rem;
    border: none;
    color: wheat;
    font-size: 1.9rem;
    cursor: pointer;
    transition: all 2s ease;
}
.btn:hover {
    background-color: red;
    color: black;
    
    
}