
.oferta{
    width: 250px;
        height: 250px;
        text-align: center;
        color:rgb(5, 5, 5);
        border-radius: 2px;
        border: solid;
        text-shadow: 5px 4px 4px rgba(0,0,0,0.39);
        font-size: 25px;
        justify-content: center;
        align-items: center;
}
@media(max-width:699px){
    .ofertaConteiner{
        grid-template-columns: repeat(2, 30%);
        justify-content: center;
        align-items: center;
    }
    
}


@media(min-width:700px){
    .ofertaConteiner{
        display: grid;
        grid-template-columns: repeat(2, 30%);
        align-items: center;
        justify-content: center;
}
}