.imagen-container-inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    img{
        width: 48vw;
    }
    
}

