@mixin h1{
    color: #a7582d;
    text-align: center;
    list-style: circle;
    text-decoration: solid;
    font-size: 50px;

}

h1{
    @include h1;

}

@media(max-width:699px){
    h1{
        font-size: 15px;
    }
        .logo{
            font-size: 15px;
        }
    
}



