@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:wght@500&display=swap');

@import "generales";
@import "section";
@import "galeria";
@import "contac";

// p{
//     color: rgb(0, 0, 0);
//     font-family: poppins;
//     font-size: 20px; 
    
// }

@mixin h1{
    color: #a7582d;
    text-align: center;
    list-style: circle;
    text-decoration: solid;
    font-size: 60px;

}

h1{
    @include h1;

}


ul{
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;    
}

ul.la{
    display: grid;
    grid-template-areas: ". .";
    grid-gap: 1em;
}
ul.lali{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
li{
    padding: 13px;
    font-size: 30px;
    list-style-type: none;
    justify-content: center
}

.icono{
    border:rgb(6, 6, 6);
    border-radius: 30px;
}
.icono2{
    border-radius: 30px;
    border: #000000;
}

.footer{
    padding:0;
    align-items: center;
    
}


.primero{
    display: inline;
    font-size: 20px;
    text-align: center;
}

.producto {
    flex-direction: column;
    font-size: 15px; 
    min-width: 250px;
    padding: 50px;
}

.segundo{
    border: 8px;
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}

.tercero{
    border: 8px solid;
    background-color: rgb(180, 180, 180);
}


section{
    padding: 60px 100px 20px ;
}

.img-fluid{
    width: 900px;
    height: 400px;
    align-items: center;
}
.parrafouno{
    font-family: poppins;
    font-size: 24px;
    color: rgb(0, 0, 0);
    border-color:#7b513a ;
    border:solid;
    border-radius: 29px;
    background: #908d8d;



}


.noso{
    height: auto;
    width: auto;
    display: flex ;
}




@media (max-width:700px)
{
    ul.la{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        justify-content: center;
    }
    ul.la li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}


